@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;

  color: white;
}

@media (max-width: 767px) {

  .mobile {
    grid-template-columns: auto auto;
  }

}

/* COLOR VARS */

.javascriptText {
  color: #f1c40f;
}

.javascriptBorder {
  border-color: #f1c40f;
}

.javascriptBackground:hover {
  background-color: #f1c40f;
}

.typescriptText {
  color: #2980b9;
}

.typescriptBorder {
  border-color: #2980b9;
}

.typescriptBackground:hover {
  background-color: #2980b9;
}

.htmlText {
  color: #e67e22;
}

.htmlBorder {
  border-color: #e67e22;
}

.htmlBackground:hover {
  background-color: #e67e22;
}

.cssText {
  color: #9b59b6;
}

.cssBorder {
  border-color: #9b59b6;
}

.cssBackground:hover {
  background-color: #9b59b6;
}

.scssText {
  color: rgb(243, 164, 177);
}

.scssBorder {
  border-color: rgb(243, 164, 177);
}

.scssBackground:hover {
  background-color: rgb(243, 164, 177);
}

.pythonText {
  color: #2ecc71;
}

.pythonBorder {
  border-color: #2ecc71;
}

.pythonBackground:hover {
  background-color: #2ecc71;
}

.vueText {
  color: #1abc9c;
}

.vueBorder {
  border-color: #1abc9c;
}

.vueBackground:hover {
  background-color: #1abc9c;
}

.phpText {
  color: #3498db;
}

.phpBorder {
  border-color: #3498db;
}

.phpBackground:hover {
  background-color: #3498db;
}

.goText {
  color: #72aed8;
}

.goBorder {
  border-color: #72aed8;
}

.goBackground:hover {
  background-color: #72aed8;
}

.rubyText {
  color: #e74c3c;
}

.rubyBorder {
  border-color: #e74c3c;
}

.rubyBackground:hover {
  background-color: #e74c3c;
}

.cText {
  color: #16a085;
}

.cBorder {
  border-color: #16a085;
}

.cBackground:hover {
  background-color: #16a085;
}